/* */
* {
box-sizing; 

}
html {
scroll-behavior: smooth;     
}

body {
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
 border-color: rgb(43, 226, 217);
 color: rgb(32, 31, 31);
line-height: 1.5;

}¨
img
max-width: 100%;
display: block;

a {
    clor: inherit
    text-decoration:- nome
    color:inherit;

}
li {
    list-style-type: style nome; 
    margin: 0;
    padding: 0;

}

